.card {
    /* width: 400px; */
    margin: 10px;
    width: 100%;
}
.custom-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;        /* ensures stretch */
    width: 100%;         /* ensures equal width inside col */
}

.btn-explore {
    margin: auto;
    display: flex;
    background: linear-gradient(45deg, #FFD700, #FFA500);
    color: black;
    border: none;
    padding: 10px 20px;
    width: auto;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    font-size: large;
    width: fit-content;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home h1 {
    font-size: 2.5rem;
    font-family: 'Dancing Script', cursive;
    color: #fff;
    margin-bottom: 20px;
}

.home p {
    font-size: 1.2rem;
    color: #979393;
    /* margin-bottom: 30px; */
    margin-top: 10px;
}

.home .card-title {
    font-size: 1.2rem;
    color: #00FFFF;
    margin-top: 10px;
}
.home .row {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}
.home .card-text {
    font-size: 1rem;
    color: #C0C0C0;
    margin-top: 5px;
}

.home h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #D3D3D3;
    margin-top: 50px;
}

.home h5 {
    font-size: 1.5rem;
    color: #66FFFF;
}

.home ul { 
    color: #A9CFF0;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
    padding: 0;
}

.home li a{
    color: #87CEEB;
    text-decoration: none;
    /* font-weight: bold; */
}
.home {
    background: linear-gradient(135deg, #2F4F4F, #000000);
    color: white;
    padding: 50px;
}
.home .card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    height: 100%; /* Make height full within the column */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 100%; /* Allow responsive width */
}