.card {
    /* width: 400px; */
    margin: 10px;
    width: 100%;
}
.custom-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;       
    width: 100%;     
}

.btn-explore {
    margin: auto;
    display: flex;
    background: linear-gradient(45deg, #FFD700, #FFA500);
    color: black;
    border: none;
    padding: 10px 20px;
    width: auto;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    font-size: large;
    width: fit-content;
}

.home h1 {
    font-size: 40px;
    color: aquamarine;
    margin-bottom: 20px;
}

.home p {
    font-size: 20px;
    color: #979393;
    margin-top: 10px;
}

.home .card-title {
    font-size: 20px;
    color: #00FFFF;
    margin-top: 10px;

}
.home .row {
    display: flex;
    flex-wrap: wrap;
}
.home .card-text {
    font-size: 20px;
    color: #C0C0C0;
    margin-top: 5px;
}

.home h2 {
    /* font-weight: bold; */
    font-size: 26px;
    color: #D3D3D3;
    margin-top: 10px;
}

.home h5 {
    font-size: 20px;
    color: #66FFFF;
}

.home ul li{ 
    color: #A9CFF0;
    font-size: 20px;
    list-style-type: none;
    padding: 0;
}

.home li a{
    color: #A9CFF0;
    text-decoration: none;
}
.home {
    background: linear-gradient(135deg, #2F4F4F, #000000);
    color: white;
    padding: 50px;
}
.home .card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    height: 100%; /* Make height full within the column */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 100%; /* Allow responsive width */
}
.home 
.card-title{
  word-wrap: break-word;    
  word-break: break-word;      
  white-space: normal;         
              
}
@media (max-width: 768px) {
  .home .row > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

