/* src/pages/LoginPage.css
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#ccc;
}

.login-form {
  background-color: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow:#d3d012;
  width: 300px;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
    font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #0f8a8a;
  color: rgb(56, 29, 175);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 600;

}

.login-form button:hover {
  background-color: #d3d012;
}

.error-msg {
  color: red;
  margin-bottom: 10px;
}
.Container{
    text-align: center;

      
}
.card-text{
  background-image: url('https://st5.depositphotos.com/10448384/62423/v/450/depositphotos_624235326-stock-illustration-pink-fog-magic-smoke-isolated.jpg'); /* use your desired background */
  /* background-size: cover;
  text-color:white;
  background-position: center;
  min-height: 100vh;
  justify-content: center;
  padding: 100px;
  margin: 10px 12px;
  width: 100%;
  height: 10px;
  text-spacing-trim: 10px;


  align-items: center;

} */ 
 /* src/login.css */
.login-container {
  background-color: linear-gradient(135deg, #2F4F4F, #000000);;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
