/* Overall container */
.service-container {
  font-family: 'Segoe UI', sans-serif;
}

/* Header Section */
.header-section {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url('https://media.istockphoto.com/id/1394355488/photo/quality-control-certification-and-standardization-iso-certification-and-quality-management.jpg?s=612x612&w=0&k=20&c=E3KEi37WQlAfGkWywSME4yvCujAJdMKXC4m-G2X4984=') no-repeat center center/cover;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-section h1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
}

/* Service Grid */
.service-grid {
  background-color: #2b2525;
  padding: 40px 20px ;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  color: white;
  text-align: center;
  position: relative;
  height: 350px;
  margin: auto;
  
}

.service-card {
  background-color: #000;
  padding: 30px 20px ;
  border-radius: 12px;
  transition: transform 0.3s ease;
  
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 10px rgba(226, 138, 121, 0.4);
}

.service-icon {
  font-size: 28px;
  color: #ffe5b4;
  margin-bottom: 10px;
}

.service-title {
  font-size: 16px;
  font-weight: 500;
}

/* CTA Section */
.cta-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #2f4f4f, #000000);
  color: white ;
  padding: 30px 40px;
   max-width: 1000px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
  position: relative;
  z-index: 5;
  margin-bottom: -25px;
  border-radius: 10px;
 
}

.cta-left p {
  font-size: 20px;
  margin: 0;
}

.cta-left h3 {
  font-size: 27px;
  margin: 5px 0 0;
  font-weight: 700;
}

.cta-center{
   font-size: 17px;
   font-weight: 600;
}

.cta-btn {
  background: linear-gradient(45deg, #ffd700, #ffa500);
  color: black;
  font-size: medium;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.cta-btn:hover {
  background-color: #ffe4db;
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}

/* Process Section */
.process-section {
  background-color: #ffffcc;
  text-align: center;
  padding: 60px 20px;
  color: #000;

}

.process-section h2 {
  font-size: 30px;
  margin-bottom: 40px;
}

.highlight {
  color: #3366ff;
}

.steps {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.step {
  width: 200px;
  margin-bottom: 20px;
}

.step-number {
  background-color: #ff4c29;
  color: white;
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 60px;
  font-weight: bold;
}

