video{
    gap:10px;
    border-radius: 8px;
    width: 100px;
    border: 8px;
    border-top: 1px;
    margin: auto;
    display: flex; 
}

.card-circular-image{
    width: 100px;
    height: 100px;
    border-radius: 700%;
    object-fit: cover;
    background-color: black;
    flex-wrap:wrap;
}

.images{
    border-radius: 7px;
    gap:10px;
    display: flex;
    object-fit: cover;
    padding: 20px;
}

.video-wrapper {
    position: relative;
    width: 100%;
    max-width: 300px; /* Adjust to your desired size */
    height: auto;
}

.custom-video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.play-button-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
    pointer-events: none;
}
.success {
    padding: 1px;
    padding-bottom: 80px;
    background: linear-gradient(135deg, #2F4F4F, #000000);
}
.success .container h1 {
    color: aquamarine;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 0px;
    text-align: left;
    color: aquamarine;
}
.success .card-title {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}
.success .card-text {
    font-size: 1rem;
    color: #ccc;
    margin-top: 5px;
}
.success .card-footer a {
    color: #87CEEB;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 5px;
}