.home-link {
    text-decoration: none;
    background-color: #87CEEB;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 8px;
    color: white;
    font-size: larger;
    font-weight: bold;
}

.home-link,
.dropdown {
    float: left;
}

.btn {
    background: linear-gradient(45deg, #FFD700, #FFA500);
    color: black;
    border: none;
    padding: 10px 20px;
    width: auto;
    margin-top: 10px;
    display: block;
    align-items: center;
    font-weight: bold;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.home-link:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    background: linear-gradient(135deg, #2F4F4F, #000000);
    color: white;
}

.nav-item a {
    color: #FFE5B4;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    transition: color 0.3s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}